# Logs
*.log
*.log.*
logs/

# Arch Linux makepkg's leftovers
pkg/
src/

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Windows folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Linux/Unix temporary files
*.tmp

# VS Code settings
**/.vscode/settings.json
**/.vs/slnx.sqlite

# TOP SECRET stuff (like sensitive data)
repos/fdroid/config.yml