.navigation-menu {
	display: flex;
	place-content: center;
	gap: var(--standardGap);
	font-family: "Turret Road";
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	background-color: #464646;
	height: 28px;
	position: relative;
	overflow: visible;
}

.navigation-menu button {
	font-family: "Turret Road";
	font-size: 20px;
	background: rgba(61,56,60,0.6530987394957983) 50%;
	color: #d3e0e3;
	border: 2px #383535 solid;
	transition: all 0.2s;
	cursor: pointer;
	padding: 0rem .75rem;
	box-sizing: border-box;
	border-radius: 4px;
}

.navigation-menu button:enabled:hover, button:enabled:focus, button:not(button):not(a):not(disabled):hover {
	color: #d3e0e3;
	border: 2px #383535 solid;
	-webkit-box-shadow: inset 0px 3.25em 0px #c1c1c144;
	-moz-box-shadow: inset 0px 3.25em 0px #c1c1c144;
	box-shadow: inset 0px 3.25em 0px #c1c1c144;
	outline: none;
	background: rgba(61,56,60,0.6530987394957983) 100%;
}

.sites button {
	background: transparent;
	cursor: pointer;
}

@media (max-width: 600px) {
	.navigation-menu {
        flex-direction:row;
		flex-wrap: wrap;
		overflow-x: auto;
    }
    .navigation-menu button {
		max-height: 28px;
    }
}