:root {
	--standardPadding: 20px;
	--standard-font-weight-arabica: 700;
	--standardGap: 15px;
}

@font-face {
	font-family: "Ysabeau SC";
	src: url("./resources/fonts/Ysabeau.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Turret Road";
	src: url("./resources/fonts/TurretRoad.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.centered-text {
	font-family: "Ysabeau SC";
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}

.text {
	font-family: "Ysabeau SC";
	font-size: 2rem;
	font-weight: 600;
	overflow-wrap: break-word;
    margin-bottom: var(--standardGap);
	word-wrap: break-word;
	word-break: break-word;
	height: auto;
	line-height: 1.4;
	color: #d3e0e3;
}

.textregular {font-family: "Ysabeau SC"; font-size: small;}

.centered-text .font1 {
	font-size: 1.4rem;
	font-weight: 400;
}
