:root {
	--standardPadding: 20px;
	--standard-font-weight-arabica: 700;
	--standardGap: 15px;
}

@font-face {
	font-family: "Ysabeau SC";
	src: url("./resources/fonts/YsabeauSC-VariableFont_wght.ttf");
	src: url("./resources/fonts/YsabeauSC-VariableFont_wght.ttf?#wght") format("truetype"),
		url("./resources/fonts/Ysabeau.woff2") format("woff2"),
		url("./resources/fonts/YsabeauSC-Light.ttf") format("truetype"),
		url("./resources/fonts/YsabeauSC-Thin.ttf") format("truetype"),
		url("./resources/fonts/YsabeauSC-ExtraLight.ttf") format("truetype"),
		url("./resources/fonts/YsabeauSC-Regular.ttf") format("truetype"),
		url("./resources/fonts/YsabeauSC-Medium.ttf") format("truetype"),
		url("./resources/fonts/YsabeauSC-SemiBold.ttf") format("truetype"),
		url("./resources/fonts/YsabeauSC-Bold.ttf") format("truetype"),
		url("./resources/fonts/YsabeauSC-ExtraBold.ttf") format("truetype"),
		url("./resources/fonts/YsabeauSC-Black.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Turret Road";
	src: url("./resources/fonts/TurretRoad.woff2") format("woff2"),
		url("./resources/fonts/TurretRoad-Light.ttf") format("truetype"),
		url("./resources/fonts/TurretRoad-ExtraLight.ttf") format("truetype"),
		url("./resources/fonts/TurretRoad-Regular.ttf") format("truetype"),
		url("./resources/fonts/TurretRoad-Medium.ttf") format("truetype"),
		url("./resources/fonts/TurretRoad-Bold.ttf") format("truetype"),
		url("./resources/fonts/TurretRoad-ExtraBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.centered-text {
	font-family: "Ysabeau SC";
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}

.text {
	font-family: "Ysabeau SC";
	font-size: 2rem;
	font-weight: 600;
}

.textregular {font-family: "Ysabeau SC"; font-size: small;}

.centered-text .font1 {
	font-size: 1.4rem;
	font-weight: 400;
}
